.seat {
    width: 100%;
    background-color: #6eab49;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .seat-grid {
    display: grid;
    width: 50%;
    /* flex-direction: column; */
    /* align-items: center; */
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .seat.booked {
    background-color: #fcc177;
  }
  
  .seat.selected {
    background-color: blue;
  }
  